<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_active_disable_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{227,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_active_disable_prd</key>
            <dict>
                <key>frame</key>
                <string>{{227,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_active_enable_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{306,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_active_enable_prd</key>
            <dict>
                <key>frame</key>
                <string>{{154,381},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_car_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{152,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_car_prd</key>
            <dict>
                <key>frame</key>
                <string>{{152,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_life_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{77,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_life_prd</key>
            <dict>
                <key>frame</key>
                <string>{{77,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_shield_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_shield_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_store_close_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_store_close_prd</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_store_open_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_store_open_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>events.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b760c2d4ad698cdfad64a43e848eb52:1/1$</string>
            <key>textureFileName</key>
            <string>events.png</string>
        </dict>
    </dict>
</plist>
