<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_check_fb_app_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{294,1170},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_check_fb_app_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_share_dg_link_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_share_dg_link_prd</key>
            <dict>
                <key>frame</key>
                <string>{{604,604},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_share_dg_og_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_share_dg_og_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_share_dg_status_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_share_dg_status_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share_dialogs.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfdfb6ea5d04f221b1eb40337c5dfd7e:1/1$</string>
            <key>textureFileName</key>
            <string>share_dialogs.png</string>
        </dict>
    </dict>
</plist>
