<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_accept_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{67,818},{171,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,63}}</string>
                <key>sourceSize</key>
                <string>{171,63}</string>
            </dict>
            <key>btn_accept_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{171,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,63}}</string>
                <key>sourceSize</key>
                <string>{171,63}</string>
            </dict>
            <key>btn_challenge_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{434,443},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_challenge_prd</key>
            <dict>
                <key>frame</key>
                <string>{{434,296},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_invite_friends_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{736,149},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_invite_friends_prd</key>
            <dict>
                <key>frame</key>
                <string>{{434,149},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_new_requests_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{132,818},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_new_requests_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_send_gifts_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_send_gifts_prd</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_use_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{883,296},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>btn_use_prd</key>
            <dict>
                <key>frame</key>
                <string>{{883,214},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>btn_view_open_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>btn_view_open_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,145}}</string>
                <key>sourceSize</key>
                <string>{300,145}</string>
            </dict>
            <key>challenge</key>
            <dict>
                <key>frame</key>
                <string>{{736,451},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>check_all_prd</key>
            <dict>
                <key>frame</key>
                <string>{{149,279},{235,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,63}}</string>
                <key>sourceSize</key>
                <string>{235,63}</string>
            </dict>
            <key>check_all_selected</key>
            <dict>
                <key>frame</key>
                <string>{{149,214},{235,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,63}}</string>
                <key>sourceSize</key>
                <string>{235,63}</string>
            </dict>
            <key>check_all_unslected</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{235,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,63}}</string>
                <key>sourceSize</key>
                <string>{235,63}</string>
            </dict>
            <key>gift</key>
            <dict>
                <key>frame</key>
                <string>{{828,470},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>invite</key>
            <dict>
                <key>frame</key>
                <string>{{883,378},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>row_not_selected</key>
            <dict>
                <key>frame</key>
                <string>{{908,108},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>row_selected</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>request_api.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3cb4f659887f797840fd7aad3317857:1/1$</string>
            <key>textureFileName</key>
            <string>request_api.png</string>
        </dict>
    </dict>
</plist>
