<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_all_friends_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{152,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_all_friends_prd</key>
            <dict>
                <key>frame</key>
                <string>{{152,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_invite_missing_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{77,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_invite_missing_prd</key>
            <dict>
                <key>frame</key>
                <string>{{77,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_og_earn_achievement_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_og_earn_achievement_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_special_friends_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_special_friends_prd</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_who_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_who_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friends.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fef9ebe4263cc2f50c4e5bdbea21329:1/1$</string>
            <key>textureFileName</key>
            <string>friends.png</string>
        </dict>
    </dict>
</plist>
