<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_email_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_email_prd</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_fb_login_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_fb_login_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_tweet_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_tweet_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a16db170181f692957887d0ea632729:1/1$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
