<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_open_fb_page_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_open_fb_page_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_page_like_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_page_like_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>more.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae0f29a7aeb2beab5ea00e37d9029e2:1/1$</string>
            <key>textureFileName</key>
            <string>more.png</string>
        </dict>
    </dict>
</plist>
