<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_accept_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{36,414},{86,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,32}}</string>
                <key>sourceSize</key>
                <string>{86,32}</string>
            </dict>
            <key>btn_accept_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{86,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,32}}</string>
                <key>sourceSize</key>
                <string>{86,32}</string>
            </dict>
            <key>btn_challenge_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{222,227},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_challenge_prd</key>
            <dict>
                <key>frame</key>
                <string>{{222,152},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_invite_friends_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{374,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_invite_friends_prd</key>
            <dict>
                <key>frame</key>
                <string>{{222,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_new_requests_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{70,414},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_new_requests_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_send_gifts_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_send_gifts_prd</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_use_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{449,152},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>btn_use_prd</key>
            <dict>
                <key>frame</key>
                <string>{{449,110},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>btn_view_open_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>btn_view_open_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>challenge</key>
            <dict>
                <key>frame</key>
                <string>{{77,309},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>check_all_prd</key>
            <dict>
                <key>frame</key>
                <string>{{77,77},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>check_all_selected</key>
            <dict>
                <key>frame</key>
                <string>{{374,275},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>check_all_unslected</key>
            <dict>
                <key>frame</key>
                <string>{{374,241},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>gift</key>
            <dict>
                <key>frame</key>
                <string>{{77,356},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>invite</key>
            <dict>
                <key>frame</key>
                <string>{{449,194},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>row_not_selected</key>
            <dict>
                <key>frame</key>
                <string>{{458,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>row_selected</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>request_api.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f1bc84e9f91897553b60ca53fdadc5b:1/1$</string>
            <key>textureFileName</key>
            <string>request_api.png</string>
        </dict>
    </dict>
</plist>
