<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_event_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{878,879},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_event_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{586,879},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_feed_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{294,879},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_feed_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1754,878},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_friends_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_friends_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1206,586},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_more_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{1462,878},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_more_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1170,878},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_open_graph_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{604,295},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_open_graph_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_profile_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{1206,294},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_profile_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_request_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{878,587},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_request_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{586,587},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_score_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{294,587},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_score_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>btn_share_dialog_api_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,291}}</string>
                <key>sourceSize</key>
                <string>{600,291}</string>
            </dict>
            <key>btn_share_dialog_api_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,291}}</string>
                <key>sourceSize</key>
                <string>{600,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_action.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fdf839686a5ba01c1591ef951084465:1/1$</string>
            <key>textureFileName</key>
            <string>fb_action.png</string>
        </dict>
    </dict>
</plist>
