<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_accept_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{130,1626},{342,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,126}}</string>
                <key>sourceSize</key>
                <string>{342,126}</string>
            </dict>
            <key>btn_accept_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{342,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,126}}</string>
                <key>sourceSize</key>
                <string>{342,126}</string>
            </dict>
            <key>btn_challenge_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{1202,878},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_challenge_prd</key>
            <dict>
                <key>frame</key>
                <string>{{860,294},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_invite_friends_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{1202,586},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_invite_friends_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1202,294},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_new_requests_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{258,1626},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_new_requests_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_send_gifts_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_send_gifts_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_use_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{1804,584},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>btn_use_prd</key>
            <dict>
                <key>frame</key>
                <string>{{1804,422},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>btn_view_open_nrl</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>btn_view_open_prd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,290}}</string>
                <key>sourceSize</key>
                <string>{600,290}</string>
            </dict>
            <key>challenge</key>
            <dict>
                <key>frame</key>
                <string>{{1804,928},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>check_all_prd</key>
            <dict>
                <key>frame</key>
                <string>{{730,1918},{470,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,126}}</string>
                <key>sourceSize</key>
                <string>{470,126}</string>
            </dict>
            <key>check_all_selected</key>
            <dict>
                <key>frame</key>
                <string>{{258,1918},{470,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,126}}</string>
                <key>sourceSize</key>
                <string>{470,126}</string>
            </dict>
            <key>check_all_unslected</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{470,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,126}}</string>
                <key>sourceSize</key>
                <string>{470,126}</string>
            </dict>
            <key>gift</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1110},{152,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{152,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>invite</key>
            <dict>
                <key>frame</key>
                <string>{{1804,746},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>row_not_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1808,212},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>row_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>request_api.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dee447c916fff1913844009d454b71d:1/1$</string>
            <key>textureFileName</key>
            <string>request_api.png</string>
        </dict>
    </dict>
</plist>
